@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Exo');
body{
  background-image: url("https://wallpaperscraft.com/image/alien_teeth_horror_fear_killer_evil_92832_1920x1080.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

html {
color: red;
font-family: 'Exo';
}

a {
 font-family: 'Inknut Antiqua';
 color: red;
 display: block;
}

h1 {
  font-family: 'Inknut Antiqua';
 color: red;
 margin-top: auto;
 margin-left: 40px;
 margin-right: auto;
 margin-bottom: auto;
}

button{
  background-color: black;
  color: red;
  display: block;
  border: 30px;
  font-family: 'Inknut Antiqua';
}

h2 {
  font-family: 'Inknut Antiqua';
 color: red;
 margin-top: auto;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: auto;
}

img {
  margin-bottom: 20px;
  margin-top: 20px;
margin-left: 20px;
  margin-right: 20px;
}
